GOOGLE_CLOUD_PROJECT=agency-dam-mvp
GOOGLE_CLOUD_LOCATION=us-central1
NEXTAUTH_SECRET=super-secret-key-change-in-prod
NEXTAUTH_URL=http://localhost:3000
GCS_RAW_BUCKET=agency-dam-assets-raw
GCS_THUMBNAIL_BUCKET=agency-dam-thumbnails
